.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  max-width: 100%;
  background-color: rgb(12, 78, 78);
}

.menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  border-radius: 50%;
  background-color: rgb(71, 214, 15);
}

.menu__nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  
  .menu__nav_container_link {
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  
    &.menu__nav_container_link:hover {
      color: rgb(71, 214, 15);
      transition: .5s ease-in-out;
      transform: scale(1.2);
    }
  }
}
